<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/resources/css/index.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/resources/css/arkibal_font.css">
    <link rel="stylesheet" href="/vendors/fontAwesome/css/all.css">
    <title>Coding Dummy</title>
</head>

<body>
    <div class="container">
        <section class="header">
            <i class="fas fa-laptop-code logo"></i>
            <ul class="btn-container">
                <li class="btn-container__btn"><a href="/services">SERVICES</a></li>
                <li class="btn-container__btn"><a href="/projects">PROJECTS</a></li>
                <li class="btn-container__btn"><a href="/learning">LEARNING</a></li>
                <!-- <li class="btn-container__btn"><a href="/started">GET STARTED</a></li> -->
                <li class="btn-container__btn"><a href="/contact">CONTACT</a></li>
            </ul>
        </section>
        <section class="content">
            <img src="vendors/img/desktop_dark.jpg" alt="Front_page.jpg" class="background">
            <div class="content__text">
                <h1 class="content__text__header1">Coding Dummy</h1>
                <p class="content__text__description">The place where i share my personal projects, <br> collected documents, Coding experiences</p>
            </div>
        </section>
    </div>
</body>

</html>