<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/resources/css/services.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/resources/css/arkibal_font.css">
    <link rel="stylesheet" href="/vendors/fontAwesome/css/all.css">
    <title>Services</title>
</head>
<body>
    <h1 style="font-size: 30px">Under Construction</h1>
    <a style="font-size: 30px" href="/">Back to home</a>
</body>
</html>