.UnderLine_hover
{   
    &::after
    {
        content: ' ';
        display: block;
        width: 0;
        height: 2px;
        //background: white;
        transition: all .26s;
    }
    &:hover::after
    {
            width: 100%;
    }
}